nav{

    background: #1D1D1D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    
    height: 64px;
    left: 100px;
    top: 0px;
    
    
    }
.brand-logo{
    
    position: absolute;
    width: 320px;
    height: 50px;
    left: 598px;
    top: 7px;
}

.test{

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    background: #F0F0F0;
    text-align: center;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.carousel .carousel-item{
    width: 600px;

}
.titulo{
    background: #1E90FF;
    border-radius: 11px 11px 0px 0px!important;
    color: white;
    text-align: center;
    font-size: 19px;
    margin-top: 0px;
    height: 40px;
    padding-top: 8px;
    font-weight: 600;
    font-family: "Montserrat";
}
.segundo{
    text-align: center;
    font-size: 19px;
    font-family: "Montserrat";


}
.numero{

    text-align: center;
    font-size: 17px;
    font-family: "Montserrat";


}
.info{

    
  
    padding-left: 40px;
    padding-right: 40px;
    
    


}
.red{
background-color: black;
color: blanchedalmond;

}



@media only screen and (min-width: 993px){

    .row .col.offset-l1-5 {
        margin-left: 12.3333%;
    }
}

/*Vista InfoReserva*/
.title{
    text-align: center;
    font-family: "Montserrat";
}

.dropdown{
    font-family: "Montserrat";

}

.selectInfo{
    font-family: "Montserrat";

}

.days{ 

    font-family: "Montserrat";

}
.day{
    background-color:#FBFAFA;;
    color: black;
    font-family: "Montserrat";
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
   
    width: 47px;
    height: 35px;
    margin-left: 2%;
    text-align: center;
    
}
.reservar{
    font-family: "Montserrat";

}
.input-field{
    
    font-family: "Montserrat";

}
.columb{
    text-align: center;
}